body
{
	margin: 0px;
    font-family: sans-serif;
}
/** header section style code**/
#header
{
	padding: 20px;
    background-color:#455e64;
    text-align: center;
    color: white;
}
#hearderImage
{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 7px;
}
/** main content style code**/
.lside
{
    float: left;
    width: 80%;
    min-height: 440px;
    background: white;
    text-align: left;
    background-image: url(C:/Users/Dell/Documents/GitHub/MyProject/images/download8.jpg);
    background-position: left;
    background-repeat: no-repeat;
    padding: 10px;

}
.rside
{
	border: 5px solid purple;
    text-align: center;
    float: right;
    width: 20%;
    min-height: 440px;
    background-color:white;
}
.footer
{
    height: 44px;
    background-color:#455e64; 
    text-align: center; 
    padding-top: 10px;
}
.footer p
{
    color:  #8fbc8f;
}