body
{
	margin: 0px;
    font-family: sans-serif;
}
/** header section style code**/
#header
{
	padding: 20px;
    background-color:#455e64;
    text-align: center;
    color: white;
}

/** navigation bar styles code**/

/** main content style code**/
.mainContent
{
    float: left;
    width: 100%;
    min-height: 900px;
    background: pink;
    text-align: left;
    padding: 15px;

}
.container
{
    background-color: black;
    justify-content: space-between;
    padding:10px;
    width: 60%;
    margin: 10px 100px 30px 260px;
    display: flex;
}
h4
{
    color: yellow;
    padding: 0px 0px 0px 10px;
}
p
{
    color: white;
    margin-right: 10px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}
img
{
    height: 200px;
}