body
{
	margin: 0px;
}
/** header section style code**/
#header
{
	padding: 20px;
    background-color:#455e64;
    text-align: center;
    color: white;
}
#hearderImage
{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 7px;
}
/** navigation bar styles code**/
.navbar
{
    padding-left: 5px;
}
.navbar li
{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
.navbar a
{
	color: #fff;
}           
.navbar ul li a:hover
{
    text-decoration: none;
    color: #7fffd4;
}

/** main content style code**/
.lside
{
    float: left;
    width: 80%;
    min-height: 440px;
    background: white;
    text-align: left;
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pngitem.com%2Fpimgs%2Fm%2F527-5272047_blue-flowers-drawing-png-transparent-png.png&imgrefurl=https%3A%2F%2Fwww.pngitem.com%2Fmiddle%2FhmbbTTJ_blue-flowers-drawing-png-transparent-png%2F&tbnid=DaIUTwR0fLtgIM&vet=10CBoQxiAoCmoXChMIyKmhtKfn-wIVAAAAAB0AAAAAEAY..i&docid=o_c1jnsCh9ZrrM&w=860&h=1228&itg=1&q=flower%20transparent%20image%20drawing&hl=en&ved=0CBoQxiAoCmoXChMIyKmhtKfn-wIVAAAAAB0AAAAAEAY),url(https://img.freepik.com/premium-vector/watercolor-drawing-transparent-blue-flowers-tulips-transparent-tulip-flowers-isolated-white_252097-571.jpg?w=2000);
    background-position: left top,right bottom;
    background-repeat: no-repeat;
    padding: 15px;

}
.rside
{
    text-align: center;
    float: right;
    width: 20%;
    min-height: 440px;
    background-color:   #c1cdcd;
}
.footer
{
    height: 44px;
    background-color:#455e64; 
    text-align: center; 
    padding-top: 10px;
}
.footer p
{
    color:  #8fbc8f;
}
